{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "arrowParens": "avoid",
    "printWidth": 120
}
