@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'NanumSquareRound', sans-serif;
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 280ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ql-size-9px {
  font-size: 9px;
}

.ql-size-10px {
  font-size: 10px;
}

.ql-size-11px {
  font-size: 11px;
}

.ql-size-12px {
  font-size: 12px;
}

.ql-size-14px {
  font-size: 14px;
}

.ql-size-16px {
  font-size: 16px !important;
}

.ql-size-18px {
  font-size: 18px;
}

.ql-size-20px {
  font-size: 20px;
}

.ql-size-22px {
  font-size: 22px;
}

.ql-size-24px {
  font-size: 24px;
}

.ql-size-26px {
  font-size: 26px;
}

.ql-size-28px {
  font-size: 28px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='9px']::before {
  content: '9';
  font-size: 9px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='10px']::before {
  content: '10';
  font-size: 10px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='11px']::before {
  content: '11';
  font-size: 11px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='12px']::before {
  content: '12';
  font-size: 12px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='14px']::before {
  content: '14';
  font-size: 14px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='16px']::before {
  content: '16';
  font-size: 16px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='18px']::before {
  content: '18';
  font-size: 18px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='20px']::before {
  content: '20';
  font-size: 20px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='22px']::before {
  content: '22';
  font-size: 22px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='24px']::before {
  content: '24';
  font-size: 24px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='26px']::before {
  content: '26';
  font-size: 26px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='28px']::before {
  content: '28';
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 1rem /* 16px */;
  font-style: normal;
  color: #a9a9a9;
}

.quill > .ql-container {
  border: none !important;
  font-size: 16px !important;
}
